In [1]:
import os
import pandas as pd
import numpy as np

import matplotlib. pyplot as plt
import matplotlib
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib. dates as mandates
from sklearn import linear_model

import tensorflow as tf
from tensorflow import keras
from  tensorflow.keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras import optimizers

In [2]:
df= pd.read_csv("/content/NIFTY 50_Data.csv")

In [3]:
df['Date'] = pd.to_datetime(df['Date'])

In [4]:
df.set_index('Date', inplace=True)

In [5]:
df.sort_index(inplace=True)

In [6]:
df.head()

               Open     High      Low   Close
Date
2000-01-03  1482.15  1592.90  1482.15  1592.2
2000-01-04  1594.40  1641.95  1594.40  1638.7
2000-01-05  1634.55  1635.50  1555.05  1595.8
2000-01-06  1595.80  1639.00  1595.80  1617.6
2000-01-07  1616.60  1628.25  1597.20  1613.3

In [7]:
x = df[["Open", "High", "Low"]]
y = df["Close"]
x = x.to_numpy()
y = y.to_numpy()
y = y.reshape(-1, 1)

In [8]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.1, random_state=7)

In [19]:
model = Sequential()
model.add(LSTM(100, return_sequences=True, input_shape= (xtrain.shape[1], 1)))
model.add(LSTM(200, return_sequences=False))
model.add(Dense(50,activation='relu'))
model.add(Dense(40,activation='relu'))
model.add(Dense(30,activation='relu'))
model.add(Dense(1))
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_6 (LSTM)               (None, 3, 100)            40800

 lstm_7 (LSTM)               (None, 200)               240800

 dense_8 (Dense)             (None, 50)                10050

 dense_9 (Dense)             (None, 40)                2040

 dense_10 (Dense)            (None, 30)                1230

 dense_11 (Dense)            (None, 1)                 31

=================================================================
Total params: 294,951
Trainable params: 294,951
Non-trainable params: 0
_________________________________________________________________

In [20]:
model.compile(optimizer='adam', loss='mae')

In [21]:
model.fit(xtrain, ytrain, batch_size=50, epochs=30)

Epoch 1/30
104/104 [==============================] - 7s 31ms/step - loss: 5888.1001
Epoch 2/30
104/104 [==============================] - 2s 23ms/step - loss: 3699.6477
Epoch 3/30
104/104 [==============================] - 2s 21ms/step - loss: 3623.0244
Epoch 4/30
104/104 [==============================] - 2s 21ms/step - loss: 3625.6072
Epoch 5/30
104/104 [==============================] - 2s 21ms/step - loss: 3627.1577
Epoch 6/30
104/104 [==============================] - 3s 25ms/step - loss: 3624.3870
Epoch 7/30
104/104 [==============================] - 3s 28ms/step - loss: 3627.5042
Epoch 8/30
104/104 [==============================] - 2s 20ms/step - loss: 3624.4819
Epoch 9/30
104/104 [==============================] - 2s 21ms/step - loss: 3624.1475
Epoch 10/30
104/104 [==============================] - 2s 20ms/step - loss: 3625.7546
Epoch 11/30
104/104 [==============================] - 2s 21ms/step - loss: 3625.7493
Epoch 12/30
104/104 [==============================] - 3s 32ms/step - loss: 3622.5811
Epoch 13/30
104/104 [==============================] - 2s 20ms/step - loss: 3624.3225
Epoch 14/30
104/104 [==============================] - 2s 20ms/step - loss: 3624.6841
Epoch 15/30
104/104 [==============================] - 2s 20ms/step - loss: 3624.4443
Epoch 16/30
104/104 [==============================] - 2s 20ms/step - loss: 3624.8516
Epoch 17/30
104/104 [==============================] - 3s 30ms/step - loss: 3624.5098
Epoch 18/30
104/104 [==============================] - 2s 21ms/step - loss: 3627.7441
Epoch 19/30
104/104 [==============================] - 2s 20ms/step - loss: 3623.0544
Epoch 20/30
104/104 [==============================] - 2s 20ms/step - loss: 3623.5493
Epoch 21/30
104/104 [==============================] - 2s 20ms/step - loss: 3628.1057
Epoch 22/30
104/104 [==============================] - 2s 22ms/step - loss: 3625.9143
Epoch 23/30
104/104 [==============================] - 4s 37ms/step - loss: 3624.1096
Epoch 24/30
104/104 [==============================] - 2s 20ms/step - loss: 3625.2693
Epoch 25/30
104/104 [==============================] - 2s 20ms/step - loss: 3624.1062
Epoch 26/30
104/104 [==============================] - 2s 20ms/step - loss: 3626.4839
Epoch 27/30
104/104 [==============================] - 2s 20ms/step - loss: 3625.2322
Epoch 28/30
104/104 [==============================] - 3s 32ms/step - loss: 3623.8523
Epoch 29/30
104/104 [==============================] - 2s 20ms/step - loss: 3625.0154
Epoch 30/30
104/104 [==============================] - 2s 20ms/step - loss: 3627.3730